@font-face {
    font-family: "Avenir Next";
    src: url(../font/AvenirNextLTPro-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/background.jpg);
    height: 100%;
    display: flex;
    background-size: 40rem;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-size: 100vh;
    font-family: "Avenir Next", 'Courier New', Courier, monospace;
    background-position: center; 
}

.background{
    background-image: url(../images/background.jpg);
    height: 120vh;
    width: 120vw;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center; 
    background-size: 40rem;
    z-index: -1;

}

main{
    margin: 3em;
    width: 100vw;
    box-shadow: 0px 0px 30px #615344
}

section{
    display: flex;
    background-color: #C9C0B7;
    height: 100vh;
    flex-direction: column;
}

.principal-navbar{
    display: flex;
    justify-content: flex-end;
}

.principal-navbar a{
    font-size: 18pt;
    margin: 2vh 2rem 2vh 0rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.principal-navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s;
}

.principal-navbar a:hover::after{
    width: 100%;
}


.principal{
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.principal-logo{
    animation: aparecer 2s;
    display: flex;
    justify-content: center;
}

.principal-logo img{
    width: 35vw;
    max-width: 17rem;
}

.sobre{
    width: 100%;
}

article{
    width: 100%;
    background-color: #fff;
    position: relative;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    min-height: 880px;
}

.sobre h1{
    font-size: 30pt;
    font-weight: normal;

    color: #615344;
}

.sobre h2{
    font-size: 20pt;
    color: #615344;

}

.sobre h3{
    font-size: 20pt;
    font-weight: normal;
    color: #615344;
}

.sobre-descricao{
    width: 90%;
    margin-top: 1rem;
}

.sobre-descricao p, .sobre-descricao ul li{
    margin-left: 26%;
    font-size: 16pt;
    color: #615344;
}

.sobre-descricao ul li{
    list-style: none;
}

.sobre-descricao ul{
    margin-bottom: 1rem;
}

.sobre-descricao span{
    font-weight: bold;
}

.sobre-descricao2{
    text-align: end;
    margin-left: 30vw;
}

.sobre-descricao2 p{
    margin: 1rem 0;
}

.sobre img{
    width: 32vw;
    max-width: 32rem;
    min-width: 18rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer{
    height: 95vh;
    background-color: #C9C0B7;
}

.rodape {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rodape h1{
    font-size: 30pt;
    font-weight: normal;
    color: #fff;
}

.rodape ul{
    align-self: flex-start;
    padding-left: 7vw;
    padding-bottom: 20%;
    color: #fff;
    list-style: none;
    z-index: 2;
}

.rodape ul li{
    display: flex;
    align-items: center;
}

.rodape a{
    display: flex;
    text-decoration: none;
    color: #fff;
    position: relative;
    align-items: center;
    font-size: 18pt;
}

.rodape ul li img{
    width: 50px;
    padding: 10px;
}

.rodape > picture > img{
    position: absolute;
    width: 100%;
    bottom: 35%;
    left: 0;
}

.rodape{
    padding-top: 1rem;
}

.rodape ul li a::after{
    content: "";
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.5s;
}

.rodape a:hover::after{
    width: 100%;
}

.rodape-info{
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2%;
    font-size: 8pt;
}

@keyframes aparecer {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 
1024px){
    .sobre-descricao p, .sobre-descricao ul li{
        margin-left: 0;
    }
    .sobre-descricao{
        width: 90%;
        margin-top: 2rem;
        text-align: start;
    }
}

@media screen and (max-width: 768px) {
    .rodape > picture > img {
        bottom: 20%;
    }
}

@media screen and (max-width: 680px) {

    section {
        height: 35vh;
    }

    .principal {
        height: 23vh;
    }

    .sobre-descricao p, .sobre-descricao ul li{
        font-size: 12pt;
        text-align: center;
    }

    .sobre-descricao2{
        margin-left: 0;
    }

    footer{
        height: 50vh;
    }

}

@media screen and (max-width: 530px) {
    main{
        margin: 1.5em
    }

    .rodape a{
        display: flex;
        text-decoration: none;
        color: #fff;
        position: relative;
        align-items: center;
        font-size: 16pt;
    }
    
    .rodape ul li img{
        width: 30px;
        padding: 5px;
    }

    .sobre-descricao2 p:nth-child(2){
        margin-left: 0;
    }

}

@media screen and (max-width: 480px) {
    
    .sobre img{
        min-width: 14rem;
    }

    .sobre h2, .sobre h3{
        font-size: 14pt;
    }

    .sobre-descricao2 p:nth-child(2){
        margin-left: 0;
    }

    .rodape a{
        font-size: 12pt;
    }
}
@media screen and (max-width: 390px) {
    .principal-navbar a {
        font-size: 14pt;
    }

    .sobre-descricao p, .sobre-descricao ul li{
        font-size: 12pt;
    }
    
    .rodape ul li img{
        width: 30px;
        padding: 5px;
    }

    .sobre-descricao2 p:nth-child(3){
        margin-left: 0;
    }
}

@media screen and (max-height: 550px) {
    .rodape a{
        display: flex;
        text-decoration: none;
        color: #fff;
        position: relative;
        align-items: center;
        font-size: 14pt;
    }
    
    .rodape ul li img{
        width: 30px;
        padding: 5px;
    }

    .rodape {
        padding-top: 0;
    }
}